html{background-color: #3498db;
    font-family: Arial, sans-serif;
    font-size: 16px;
color: #000;
text-align: justify;}
header{text-align: center;}
nav{background-color: black;
font-size: xx-large;
font-style: normal;}
h2{color: chartreuse;}
h3{color: white;}
form{text-align: justify;}