:root{
    --fgcolor:#9523a3;
    --bgcolor:#ffff;
    --primary:#5555;
    --font-family:'Arial,sans-serif';
    --base-font-size:16px;
}
body{
    margin: 0;
    background-color: var(--fgcolor);
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex{
    text-align: center;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    
}
.aboutme{
    align-items: center;
    display: block;
}
h2{
    text-align: center;
}
.text{
    align-items: center;
}
h2{
    text-align: center;
}
.project-flex{
    display: flex;
    gap: 10px;
    
}

